
Body
{
    background-color:#35424a;
}

.rubrik
{
    color: rgba(208, 52, 0.961);
    border:solid purple 2px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 10px;
}

.nav
{
    color: white;
    border:solid orange 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.rubriker
{
    display:flex;
    flex-direction: row;
    color: rgba(208, 52, 0.961);
    border: solid red 2px;
    

}

.rubrik_2
{
    color: white;
    margin-left: 10px;
    border: solid green 2px;

}

.header
{
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-around;

    
}

.hem
{
    color: rgba(208, 52, 0.961);
    margin-right: 30px;

}

h2
{
    justify-content: space-between; 
    margin-right: 30px;
}